$myFont: Helvetica, sans-serif;

$bg-color:#8C726A;
$icon-color: #7b3e16;
$text-color: black;
$btn-text-color: #B46733;
$border-color: #DAB790;
$navbar-color:#311B16;
$div-bg:  white;
$cart-bg: #B69180;



