$myFont: Helvetica, sans-serif;
$pri-color: #402d28;
$sec-color: #91675b;
$text-color: #241510;
$btn-bgcolor: #574120;

$bg-color-dark: #1f2833;
$bg-color-light: #dde5ee;
$icon-color: #0e6d67;
$btn-text: #0e6d67;





