$myFont: Helvetica, sans-serif;
$bg-color: #8c726a;
$icon-color: #7b3e16;
$text-color: black;
$btn-text-color: #b46733;
$border-color: #dab790;
$navbar-color: #493631;
$div-bg: white;
$cart-bg: #b69180;
