@mixin circle($unit,$color) {
  background-color: $color;
  height:$unit;
  width: $unit;
  border-radius: 100%;
}



@mixin clamper($lines-to-clamp) {
  display: -webkit-box;
  -webkit-line-clamp: $lines-to-clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
