

@import "../../styles/Sass/variable";
@import "../../styles/Sass/mixins";



h2 {
  margin-top:17vh;
  text-align: center;
  color: $text-color;
  font-family: $myFont;
  font-size: 2.5rem;
}

/* contact section */

.outerRow {
  width: 100vw;
  height: 75vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 3%;
 
}
.contactRow {
  height: 60vh;
  flex-basis: 25vw;
  background-color: $div-bg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;  
  border-radius: 10%;
  background-color: $cart-bg;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-info {
  font-size: 120%;
  color: $icon-color;
  display: flex;
  flex-direction: row;
  column-gap: 15%;
}

.icon-info .title{
  font-size: 2rem;
  font-weight: bold;
  color: $text-color;
}

.icon-info span{
  font-size: 1.5rem;
}

.text-info {
  color: $text-color;
  font-family: $myFont;
  font-size: 1rem;
  word-wrap: break-word;
}

/* form  */
.formRow {
  height: 70vh;
  flex-basis:40vw;
  background-color: $cart-bg;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;  
  align-items: center;
  border-radius: 10%;

    .formTitle {
      font-family: $myFont;
      line-height: 1.5rem;
      span {
        font-size: 2rem;
        font-weight: bold;
      }
      p {
        font-size: 1rem;
      }
    }

    .formInput form{
      display: flex;
      flex-direction: column;
      row-gap: 2vh;
      justify-content:space-evenly; 
      align-items: center;
      input,
      textarea {
        
        width: 30vw;
        height: fit-content;
        padding: 10px;
        border: 1px solid rgb(22, 21, 21);
        border-radius: 6px;
      }
      textarea {
        resize: none;
        height: 70px;
     }
      button {
        background-color: $icon-color;
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 10px;
        cursor: pointer;

        &:hover {
         
          color: whitesmoke;
          transform: scale(1.05);
        }
      }
    }
  }


  //mobile-devices
@media (max-width: 425px) {
  html {
    font-size: 68.75%;
  }
  .outerRow{
    flex-wrap: wrap-reverse;
    height:max-content;
    row-gap: 5vh;
  }

  .contactRow {
    flex-basis: 70%;
    height: 50vh;
  }


  .formRow {
    flex-basis: 70%;

    .formInput{
      form{
        input,textarea{
          width: 50vw;
        }
      }
    }
  }
}


//tablet-devices
@media (min-width:426px) and (max-width: 769px) {
  html {
    font-size: 87%;
  }
  .contactRow {
    flex-basis: 40%;
  }

  .formRow{
    flex-basis: 50%;
  }
}
