@import "../../styles/Sass/variable";


html {
    font-size: 100%;
  }
  
  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
  }
  
  .dark-mode {
    background-color: $sec-color;
    color: $pri-color;
  }
  
.navbar {
  
  width: 90vw;
  margin: 0 auto 2%;
  grid-gap:1%;
  padding-top: 2%;
  display: grid;
  grid-template-columns: 15% 5% 65% 15%;
  grid-template-rows: 10vh;
}

.brand-title {
  display: flex;
  //border: 1px solid black;
  justify-content: flex-end;
  align-items: center;
}

.brand-title img{
  width:10vw;
}

.navbar-links{
  margin: 0;
  padding: 0;
  
  // border: 1px solid black;
  // grid-column: 3/4;
}

.navbar-links ul {
  margin: .5vh auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
  
}

.navbar-links li {
  border: 2px solid $bg-color-dark;
  border-radius: 6px;
  list-style-type: none;
  margin-right: 5%;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: $btn-text;
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: $myFont;
  position: relative;
  overflow:hidden;
  transition: .3s;
  &:after {
    position: absolute;
    transition: .3s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 0;
    height: 5px;
    background: $bg-color-dark;
  }
  &:hover {
    &:after {
      width: 100%;
      left: 0;
    }
  }
  &:after{
    left: 0;
  }
}

// .navbar-links li a:after{
//   left: 0;
// }


.toggle-bar{
 //border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.toggle-button {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 2rem;
  height: 2rem;
}

.toggle-button .bar {
  display: none;
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.theme {
  //border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.theme img {
  height: 2rem;
  border: none;
  width: 2rem;
  border-radius: 100%;
}

.menu-icon {
  width: 25px;
  height: 30px;
}
