@import "../../styles/Sass/variable";


html {
    font-size: 100%;
  }
  
  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
  }
  
  .dark-mode {
    background-color: $sec-color;
    color: $pri-color;
  }
  
  .navbar {
  
    width: 85vw;
    border: 2px solid $pri-color;
    border-radius: 10px;
    margin:  1% 7%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 5%;
    align-items: center;
    height: 12vh;
  }
  
  .brand-title {
    display: flex;
    flex-basis: 5%;
    //border: 1px solid black;
    justify-content: flex-start;
    align-items: center;
  }
  
  .brand-title img{
    width:10vh;
    height: 20vh;
    object-fit: contain;
    //fill: $pri-color;
    filter: opacity(.4)  sepia(100%); 
  }
  
  .navbar-links{
    margin: 0;
    padding: 0;
    flex-basis: 70%;
    //border: 1px solid black;
  }
  
  .navbar-links ul {
    margin: .5vh auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    column-gap: 5%;
    
    
  }
  
  .navbar-links li {
   // border: 2px solid $pri-color;
    border-radius: 6px;
    list-style-type: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: $text-color;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    font-family: $myFont;
    position: relative;
    overflow:hidden;
    transition: .3s;
    &:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 5px;
      background: #271010;
    }
    &:hover {
      &:after {
        width: 100%;
        left: 0;
      }
    }
  }
  
  .navbar-links li a:after{
    left: 0;
  }
  
  .toggle-row{
    flex-basis: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 25%;
    align-items: center;
  }
  .toggle-bar{
   //border: 1px solid black;
  display: none;
  size: 10%;
  color: $icon-color;
  
  }

  
  .theme {
    //border: 1px solid black;
    flex-basis: 5%;
  }
  
  .theme img {
    height: 2rem;
    border: none;
    width: 2rem;
    border-radius: 100%;
  }
  
  .menu-icon {
    width: 25px;
    height: 30px;
  }

//tablet screen
  @media (min-width:426px) and (max-width: 769px) {
    html {
      font-size: 87%;
    }
  }

  //mobile-devices
@media (max-width: 425px) {
  html {
    font-size: 68.75%;
  }

  .navbar{
    justify-content: space-between;
  }
  .brand-title{
    justify-content: flex-start;
  }
 .navbar-links-mobile{
  position: absolute;
  top: 16%;
  right:8%;
  transition: all 5s ease-out;
  
  ul{
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    align-items: flex-end;
     row-gap: 4vh;
    z-index: -8;
    li{
      list-style-type: none;
    a{
      border: 1px solid black;
      border-radius: 6px;
      text-decoration: none;
      padding: 1rem;
      font-size: 1.1rem;
      font-weight: bold;
      font-family: $myFont;
      color: $text-color;
      overflow:hidden;
    }
    
    }
  }
 }

 .navbar-links{
   display: none;
 }

  .toggle-bar{
    display: flex;
  }
}