@import "../../styles/variable";


html {
    font-size: 100%;
  }
  
  * {
    padding: 0;
    box-sizing: border-box;
    margin: 0px;
  }
  
  body {
    background-color: white;
  }
  
  .dark-mode {
    background-color: $sec-color;
    color: $pri-color;
  }
  
  .navbar {
    width: 85%;
    // margin: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: $text-color;
    height: 10vh;
    margin-top: 2vh;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin-left: 7%;
    color: $text-color;
    font-family: $myFont;
  }
  
  .navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    list-style-type: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    border: 1px solid black;
    color: $text-color;
    padding: 0.7rem;
    margin-left: 1rem;
    font-size: 1rem;
    background-color: $pri-color;
    color: white;
    border-radius: 20px;
    font-family: $myFont;
  }
  
  .navbar-links li a:hover {
    background-color: $text-color;
    color: white;
    border-radius: 20px;
    transform: scale(1.05);
  }
  
  .toggle-button {
    position: absolute;
    right: 5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 1.5rem;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
  }
  
  #theme {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0.2rem;
    right: -7rem;
    width: 2rem;
    height: 0.1rem;
  }
  #theme img {
    height: 2rem;
    border: none;
    width: 2rem;
    border-radius: 100%;
  }
  
  .menu-icon {
    width: 25px;
    height: 30px;
  }