@import "../../styles//Sass//variable";

.container-footer {
  margin-top: 3vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: $navbar-color;

  span {
    text-align: center;
    font-size: 100%;
    width: 100vw;
    color: white;
  }
}
