@import "../../styles/variable";
@import "../../styles/mixins";


.main {
    position: relative;
    height: 85vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .left-circle {
    @include circle(15vw, $pri-color);
    position: absolute;
    left: -10%;
  }
  
  .right-circle {
    @include circle(65vw, $pri-color);
    position: absolute;
    bottom: -70%;
    right: -25%;
  }
  
  .intro {
    position: relative;
    top: 25%;
    left: 10vw;
    width: 35vw;
  }
  
  .intro h1 {
    font-size: 2.5rem;
    line-height: 3rem;
    color: $text-color;
  }
  
  .intro p {
    @include clamper(2);
  
    margin-top: 2%;
    font-size: 1.5rem;
    font-family: $myFont;
    line-height: 2rem;
    color: $text-color;
  }
  
  .btn1{
    margin-top: 5%;
  }

  .btn1 a{
    margin:0 5% 0;
    text-decoration: none;
    margin-left: 0;
    color: white;
    border-radius: 6px;
    background-color: $pri-color;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
  }
  
  .btn1 a:hover {
    background-color: $text-color;
    color: whitesmoke;
  }
  
  .profileImage {
    position: absolute;
    left: 35vw;
    bottom: -1vh;
    width: 100vw;
    height: 90vh;
    z-index: 1;
    overflow: hidden;
    object-fit: fill;
  }
  .profileImage img {
    position: absolute;
    bottom: 0;
    width: auto;
    height: 90vh;
  }
  // @media only screen and (min-width:361px){
  //   .profileImage{
  //     display: block;
  //   }
  // }
  
  .icons {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 21rem;
    left: 75rem;
    z-index: 1;
  }
  
  .icon {
    background-color: transparent;
    border: 1px dashed white;
    border-radius: 20%;
    margin: 1rem;
    margin-top: 0;
    color: white;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .icon:hover {
    background-color: $text-color;
    color: whitesmoke;
    transform: scale(1.05);
  }